body {
    background-image: linear-gradient( #3D22E3,#ED5D2F);
    font-family: "Roboto", sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#form{
    align-items: center;
    margin: 40px auto;
    font-size: 16px;
    
}

#title{
    text-align: center;
    color: white;
    text-emphasis: bold;
    font-size: 30px;
    margin-top: 20%;
    margin-bottom: 50px
}

.button{
    background: #3D22E3;
    padding: 10px;
    text-align: center;
    width: 80px;
    border-radius: 10px;
    color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-top: 15px;
    font-size: 18px;
    color: white;
    border: #c9b8c5;
    opacity: .4;
    padding: 3px;
}

input:focus{
    color: black;
    opacity: .5;
    outline: none;
    border-bottom: black;
}
input:onclick{
    color: black;
    opacity: .5;
    outline: none;
    border-bottom: black;
}